@import "tailwindcss";
@import "@fontsource/alegreya";
@import "@fontsource/alegreya-sans";

@theme inline {
  --color-everforest-bgdim: #1e2326;
  --color-everforest-bg: #272e33;
  --color-everforest-fg: #d3c6aa;
  --color-everforest-green: #a7c080;
  --font-sans: "Alegreya Sans", "sans-serif";
  --font-alegreya: "Alegreya", "sans-serif";
}
