---
import "@/styles/global.css";
import Topbar from "@/components/Topbar";
import GetAllPosts from "@/components/GetAllPosts";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>writings :: evanalvarez.dev</title>
  </head>
  <body class="bg-everforest-bgdim">
    <Topbar />
    <div class="mx-auto max-w-screen-xl px-6">
      <div class="flex items-center justify-start">
        <div class="text-everforest-fg pt-[5rem] text-3xl lg:text-5xl">
          <h1 class="font-alegreya font-bold">writings</h1>
          <a
            href="/writings"
            class="text-everforest-green text-sm hover:underline lg:text-lg"
            >subscribe</a
          >
        </div>
      </div>
      <div class="text-everforest-fg text-md pt-2 lg:text-lg">
        <GetAllPosts />
      </div>
    </div>
  </body>
</html>
