---
import "@/styles/global.css";
import Topbar from "@/components/Topbar";
import GetAllProjects from "@/components/GetAllProjects";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://fav.farm/%F0%9F%A7%91%E2%80%8D%F0%9F%92%BB"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Evan Alvarez" />
    <meta name="description" content="Evan Alvarez's Corner of the Internet" />
    <meta name="keywords" content="Programming, Coding, Blog" />
    <title>projects :: evanalvarez.dev</title>
  </head>
  <body class="bg-everforest-bgdim">
    <Topbar />
    <div class="mx-auto max-w-screen-xl px-6">
      <div class="flex items-center justify-start">
        <div class="text-everforest-fg pt-[5rem] text-3xl lg:text-5xl">
          <h1 class="font-alegreya font-bold">error: 404</h1>
          <a
            href="/"
            class="text-everforest-green text-sm hover:underline lg:text-lg"
            >go back home</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
