---
import "@/styles/global.css";
import Topbar from "@/components/Topbar";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>home :: evanalvarez.dev</title>
  </head>
  <body class="bg-everforest-bgdim">
    <Topbar />
    <div class="mx-auto max-w-screen-xl px-6">
      <div class="flex items-center justify-start">
        <div class="text-everforest-fg pt-[5rem] text-3xl lg:text-5xl">
          <p class="font-alegreya font-bold">evan alvarez</p>
          <a
            href="mailto:evanalvarez@tutamail.com"
            class="text-everforest-green text-sm lg:text-lg">email</a
          >
          <span class="text-2xl lg:text-3xl">::</span>
          <a
            href="https://github.com/sheikhevan"
            class="text-everforest-green text-sm lg:text-lg">github</a
          >
          <span class="text-2xl lg:text-3xl">::</span>
          <a
            href="https://example.com"
            class="text-everforest-green text-sm lg:text-lg">resume</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
