---
const { postSlug } = Astro.props;

let signatureExists = false;
try {
  const response = await fetch(`${Astro.site}/writings/${postSlug}.md.asc`);
  signatureExists = response.ok;
} catch {
  signatureExists = false;
}
---

{signatureExists && <div>this post is cryptographically signed!</div>}

{!signatureExists && <div>this post is not cryptographically signed!</div>}
